<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <!-- item 循环的属性  index 数组下标 -->
        <p v-for="(item, index) in list">
            索引值：{{index}} -- 对象id：{{item.id}} -- 对象名称:{{item.name}}
        </p>

        <p v-for="(user, index) in list">
            <p v-for="(val, key) in user">
                key:{{key}} --- val:{{val}}
            </p>

        </p>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                list: [
                    { id: 1, name: '张三' },
                    { id: 2, name: '李四' },
                    { id: 3, name: '王五' }
                ]
            },
            methods: {}
        })
    </script>
</body>

</html>