<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <input type="button" @click="add" value="按钮"> <br>
        <input type="text" v-model="count"> <br>
        <input type="button" @click="count+=1" value="按钮加1"> <br>

        <input type="text" v-model="msg">
        <input type="button" @click="hello(msg)" value="Say Hi">
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                count: 0,
                msg: ''
            },
            methods: {
                add: function (event) {
                    this.count++;
                    if (event) {
                        console.log(event.target.tagName);
                    }
                },
                hello(msg) {
                    alert("hello  " + msg);
                }
            }
        })
    </script>
</body>

</html>